<ul class="nav"><!--
    --><li><a href="/">Accueil</a></li><!--
    --><li><a href="/admin">Messages signalés</a></li><!--
    --><li><a href="/admin/groups">Groupes</a></li><!--
    --><li><a href="/admin/users">Utilisateurs</a></li>
</ul>