<ul class="nav"><!--
    --><li><a href="{{ path('message') }}">Accueil</a></li><!--
    --><li><a href="{{ path('admin') }}">Messages signalés</a></li><!--
    --><li><a href="{{ path('admin-groups') }}">Groupes</a></li><!--
    --><li><a href="#">Utilisateurs</a></li><!--
    --><li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
</ul>