<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/messages.css') }}" type="text/css" media="all" />
  </head>
  <body>

      <div class="container">
          <div class="contacts-box">
              <div class="contact">
                  <h3>Afidalgo</h3>
                  <h4>dernier message</h4>
              </div>
              <div class="contact">
                  <h3>Mgrimler</h3>
                  <h4>dernier message</h4>
              </div>
          </div>
          <div class="messages-box">
              <div class="header-box">
<h3>title</h3>
              </div>
              <div class="content-box">

              </div>
              <div class="write-box">
                <input type="text" name="name" value="" placeholder="écris ton message ici ...">
              </div>
          </div>
      </div>

  </body>
</html>
